<!DOCTYPE html>
<html>
<head>
<style>
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
  border-right:1px solid #bbb;
}

li:last-child {
  border-right: none;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: #04AA6D;
}
</style>
</head>
<body>

<ul>
  <li><a id="1" href="https://jonabarg.github.io/index.html">Home</a></li>
  <li><a id="2" href="#news">Updates</a></li>
  <li><a id="3" href="https://jonabarg.github.io/pages/navbar/contact.html">Contact</a></li>
  <li><a id="4" href="https://jonabarg.github.io/pages/navbar/about.html">About</a></li>
</ul>

<script>
  if (window.location.href.includes("index")) {
    document.getElementById("1").className="active"
  }
  if (window.location.href.includes("contact")) {
    document.getElementById("3").className="active"
  }
  if (window.location.href.includes("about")) {
    document.getElementById("4").className="active"
  }
</script>

</body>
</html>

